/* CSS Document */

#leftnav{
    padding: 15px;
    width: 100px;
    height: 50px;
    float: left;
}

#rightnav{
    padding: 15px;
    width: 100px;
    height: 50px;
    float: right;
}

.center{
    display: block;
    padding-top: 200px;
    padding-bottom: 30px;
    margin: auto;
    width: 23%;
}

#searchform{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
}

#searchtext{
    padding: 6px 10px;
    width: 35%;
}

#button{
    display: block;
    text-align: center;
    padding-bottom: 15px;
}

#language{
    text-align: center;
}
